<footer>
    <div class="container-fluid">

    <div class="row">
        <div class="col-md-6 text-start">
            <p>&copy; 2024, Amy Zinger</p>
        </div>
        <div class="col-md-6 text-end">
            <div class="social-icons">
                <a href="https://github.com/amyzinger" aria-label="GitHub" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/amyzinger/" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>
 