<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Amy Zinger's NFT Mint</title>
    <meta name="author" content="Amy Zinger">
    <meta name="description" content="A personal NFT mint for artist Amy Zinger.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('navigation') %>

    <!-- Header (Banner Area) -->
    <header class="banner">
        <div class="container">
            <h1 class="display-1">Amy Zinger</h1>
            <p class="display-14">Creative Director | Serial Tinkerer | Gentlewoman Adventurer</p>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <!-- Featured -->
        <section class="content-section" id="featured">
            <div class="container">
                <h2 class="section-title">Featured Work</h2>
                <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-3 text-center justify-content-center">
                    <% projects.slice(0, 3).forEach((project, index) => { %>
                        <div class="col-10">
                            <%- include('projectCard', { image: project.img_url, name: project.project_name, quantity: project.quantity, ident: project.id }); %>
                        </div>
                    <% }) %>
                </div>
                <div class="text-center">
                    <button onclick="location.href='/projects'" class="button">See All</button>
                </div>
            </div>
        </section>
        
        

    <div class="container-fluid">
        <!-- Footer -->
        <%- include('footer') %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="./js/index.js"></script>
    <script type="module" src="./js/contact.js"></script>
</body>
</html>
