body {
  padding-top: 56px; 
}
h1 {
font-family: "Sedan SC", serif;
font-weight: 400;
font-style: normal;
}

.banner {
  background: url('/images/bg_parchment.png') no-repeat center center;
  background-size: cover;
  height: 60vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content-section {
  padding: 2rem 0;
  background-color: #b9c1b9;
  color: #333;
}
.content-section.section2 {
  background-color: #d4d4d4; 
}
.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
footer {
  background-color: #2e2f2b;
  padding: 1rem 0;
  text-align: center;
  color: #ffffff;
}
footer .social-icons {
  margin: 0.5rem 0;
}
footer .social-icons a {
  margin: 0 0.5rem;
  color: #ffffff;
}
.btn-primary {
  background-color: #4c0431;
  border-color: #4c0431;
}
.btn-primary:hover {
  background-color: #3b0325;
  border-color: #3b0325;
}
.btn-secondary {
  background-color: #7b445e;
  border-color: #7b445e;
}
.btn-secondary:hover {
  background-color: #633650;
  border-color: #633650;
}
.btn-disabled {
  background-color: #a3a3a3;
  border-color: #a3a3a3;
  color: #333333;
  cursor: not-allowed;
}
.navbar {
  background-color: #2e2f2b;
}
.navbar .navbar-brand, .navbar .nav-link, .navbar .btn {
  color: #ffffff;
}
.navbar .nav-link:hover {
  color: #c9b8c0;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.contact-section {
  padding: 2rem 0;
  background-color: #e6e8e6;
}
.contact-form .form-control, .contact-form .btn {
  background-color: #ffffff;
  border: 1px solid #333;
}
.contact-form label {
  color: #333;
}
.contact-form .btn-primary {
  background-color: #4c0431;
  border-color: #4c0431;
}
.contact-form .btn-primary:hover {
  background-color: #3b0325;
  border-color: #3b0325;
}

@keyframes fadeInAnimation {
  /*for div fade-in */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}